*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Arial, sans-serif;
	background-color: #B9C8B8;
}
.menu{
    display: flex;
    background-color: #B9C8B8;
    list-style: none;
    justify-content: flex-end;
}
.menu > li{
    position: relative;
}
.menu > li:hover > a{
    color: lightslategray;
}
.menu > li > a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px 25px;
    font-weight: bold;
    font-size: 12px;
}
.contenido{
    width: 100%;
    height: 42rem;
    background-color: #B9C8B8;
    border: none;
}
iframe{
    width: 100%;
    height: 100%;
    border: none;
}
.acomodar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 40rem;
    gap: 10px;
}
.photo{
    border: solid #AABCA9 0.5px;
    width: 16%;
    height: 36%;
    border-radius: 100%;
}
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 10%;
    border: solid #AABCA9 0.5px;
    background-color: whitesmoke;
    border-radius: 15px;
}
.redes:hover.redes{
    background-color: #AABCA9;
    border: solid #B9C8B8 0.5px;
}
.redes > a{
    text-decoration: none;
    color: black;
}
.photo > img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
} 